// Import full bootstrap less file & fix font path
@import "../../../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "fonts/";

@import "../../../bower_components/fontawesome/less/font-awesome.less";
@fa-font-path: "fonts";

// Examples of overriding LESS variables
// See http://getbootstrap.com/css/#less for full list or variables
@red: #ff0000;

.input-group {
  margin-bottom: 20px;
}

.tooltip { // Fix for the tooltip
  .h5;
  opacity: 0.95;
  color: @gray-lighter;
}

.tooltip-arrow { // Fix for the arrow
  border-top: 15px solid #608BD6;
}

// Custom components
@import "layout.less";
@import "dashboard.less";
