// Import full bootstrap less file
@import "../../../bower_components/bootstrap/less/bootstrap.less";

// Examples of overriding different existing variables
// See ../../../bower_components/bootstrap/less/variables.less for full list

/*
@brand-primary:         @gray;
@brand-success:         #ECD078;
@brand-info:            #53777a;
@brand-warning:         #f0ad4e;
@brand-danger:          darken(#C02942, 20%);

@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
*/

// Custom components
@import "layout.less";
@import "dashboard.less";
