<h1 class="page-header">Make your Dashboard here!</h1>

<p>Start with a clean slate you can delete this page completely, but try adding some <a href="http://getbootstrap.com/components/#progress">progress bars...</a></p>

<p>Or what about a some <a href="http://getbootstrap.com/components/#badges">badges?</a></p>

<p>Also see what cool <a href="http://getbootstrap.com/components/#input-groups">input groups</a> you can add.</p>

<p>Go into the app/styles/less and change this line</p>
<pre>
	@import "../../../bower_components/bootstrap/less/variables.less";
</pre>

<p>to...</p>
<pre>
	@import "variables.less"
</pre>

</p>...save and see what happens!</p>

<p>Learn some <a href="http://lesscss.org/">{less}</a> and <a href="http://getbootstrap.com/components/">Bootstrap</a> and get coding!</p>
