<h1 class="page-header">Make your Dashboard here!</h1>

<p>Start with a clean slate you can delete this page completely, but try adding some <a href="http://getbootstrap.com/components/#progress">progress bars...</a></p>

<p>Codecademy has a <a href="https://www.codecademy.com/courses/web-beginner-en-yjvdd">short tutorial</a></p>

<p>Or what about a some <a href="http://getbootstrap.com/components/#badges">badges?</a></p>

<p>Also see what cool <a href="http://getbootstrap.com/components/#input-groups">input groups</a> you can add.</p>

<p>Go into the app/styles/less and change this line</p>
<pre>
	@import "../../../bower_components/bootstrap/less/variables.less";
</pre>

<p>to...</p>
<pre>
	@import "variables.less"
</pre>

</p>...save and see what happens!</p>

<div class="fluid-container">
	<div class="row">
		<div class="col-md-4">Make sure you understand <a href="http://getbootstrap.com/css/#grid">grids...</a></div>
		<div class="col-md-4 col-md-offset-4">So you can space things out</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-6">Just the way you want it</div>
	</div>
</div>

<p>Learn some <a href="http://lesscss.org/">{less}</a> and <a href="http://getbootstrap.com/components/">Bootstrap</a> and start coding!</p>
