	        <h1 class="page-header">Dashboard</h1>

	        <h2 class="sub-header">Statistics</h2>
	        <ul class="nav nav-pills" role="tablist">
	        	<li role="presentation" class="active"><a href="#/dashboard">Steps <span class="badge">43</span></a></li>
	          	<li role="presentation"><a href="#/dashboard">Pages <span class="badge">120</span></a></li>
	          	<li role="presentation"><a href="#/dashboard">Books <span class="badge">22</span></a></li>
	          	<li role="presentation"><a href="#/dashboard">Verses <span class="badge">13</span></a></li>
	        </ul>

	        <div class="progress">
			  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
			     <span class="sr-only">40% Complete (success)</span>
			  </div>
			</div>
			<div class="progress">
			  <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
			    <span class="sr-only">20% Complete</span>
			  </div>
			</div>
			<div class="progress">
			  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
			    <span class="sr-only">60% Complete (warning)</span>
			  </div>
			</div>
			<div class="progress">
			  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
			    <span class="sr-only">80% Complete (danger)</span>
			  </div>
			</div>

			<blockquote>
				<h4>How to use this Dashboard</h4>
				<p>Make sure to update your profile information</p>
			</blockquote>


          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>