<div>
  <div class="jumbotron">
    <h1>Soulfit Challenge</h1>
    <p class="lead">
      <img ng-src="images/soulfit-challenge.jpg" alt="SoulFit" width="100px"><br />
      Here's some testing and components that you want to build
    </p>
  </div>

  <!-- this is just dummy data -->
  <div class="container-fluid">
    <div class="row">
      <chartist class="col-lg-6 col-xs-12 ct-chart ct-golden-section" chartist-data="chartTestData" chartist-chart-options="chartoptions" chartist-chart-type="Line"></chartist>
      <chartist class="col-lg-6 col-xs-12 ct-chart ct-golden-section" chartist-data="chartTestData" chartist-chart-options="chartoptions" chartist-chart-type="Bar"></chartist>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
      <input ng-model="personName" type="text" class="form-control" placeholder="Search By: Full Name" aria-describeby="basic-addon1">
    </div>
  </div>

  <small>This is for debugging purposes local data: </small>
  <pre>
    {{ sds.soulfitData | json }}
  </pre>
  <pre>
    {{ sds.ctData | json }}
  </pre>

</div>
